<div class="mx-3"
style="border: 1px solid white;width: 300px;">
 <div class="p-5" style="background-color:rgba(220, 220, 220, 0.276);" >
  <h1><i class="fa fa-user-circle-o fa-5x"></i></h1>
 </div>
 <p style="text-align: center;font-weight: bolder;">{{employee.id  }} -  {{employee.name}}</p>
  <p style="text-align: center;"><i class="fa fa-location-arrow"></i>{{employee.location}}</p>
 <p style="text-align: center;"><i class="fa fa-envelope"></i>{{employee.emailId}}</p>
 <p style="text-align: center;"><i class="fa fa-mobile"></i>(+91){{employee.mobileno}}</p>
 <div class="p-5 bg-light">
  <button class="btn btn-outline-info mx-5 " routerLink="/employees">Back</button>
 </div>
</div>